/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Νοε 2015, 1:15:46 πμ
    Author     : Gomesito
*/

body,
textarea,
input {
    font: 13px "arial";
}
.chat{
    max-width: 300px;
}
.chat-messages,
.chat textarea,
.chat-name {
    border:2px solid #bbb;

}
.chat-messages {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
}
.chat-message {
    margin-bottom: 10px;
}
.chat-name {
    width: 100%;
    padding: 10px;
    border-bottom: 0;
    margin: 0;
}
.chat textarea {
    width: 100%;
    padding: 10px;
    margin: 0;
    border-top: 0;
    max-width: 100%;
}
.chat-status {
    color: #bbb;
}
.chat textarea,
.chat-name {
    outline: none;
}