/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Νοε 2015, 8:12:23 μμ
    Author     : Nena
*/

.logo{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.header{
    color: #000040;
    margin-left: 30px;
    font-size:140%;
    font-family: Impact, Charcoal, sans-serif;
}

.inform{
    font-size:130%;
}