/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Νοε 2015, 1:15:46 πμ
    Author     : Gomesito
*/
body{
    background-image: url("../images/palette.jpg");
    font: 16px "arial";
}

textarea,
input {
    font: 16px "arial";
}
.chat{
    width: 600px;
    position:absolute;
    left:30%;
}
.chat-messages,
.chat textarea,
.chat-name {
    border:7px solid #bbb;
    

}
.chat-messages {
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    
}
.chat-message {
    margin-bottom: 10px;
}
.chat-name {
    width: 100%;
    padding: 10px;
    border-bottom: 0;
    margin: 0;
    text-align: center;
}
.chat textarea {
    width: 100%;
    padding: 10px;
    margin: 0;
    border-top: 0;
    max-width: 100%;
}
.chat-status {
    color: #bbb;
}
.chat textarea,
.chat-name {
    outline: none;
}
#header{
    background-color:transparent;
    color:brown;
    text-align:center;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    padding:10px;
    font-size: 35px;
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: default;
}
