/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Δεκ 2015, 1:32:28 πμ
    Author     : Nena
*/
body {
    background: linear-gradient(to bottom right, white, #bcbdc4);
    height: 700px;
}

.headerx{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: verdana;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: #000040;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: verdana;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:center;
    padding:5px;	 	 
}

#links{
    top: 40px;
    left: 900px;
    font-family: verdana;
    font-size: 50px;
    width: 500px;
    height: 60px;
}

#img1{left:100px;
    height: 50px;
    width: 110px;
    top: 20px;
}

.bodyx{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 645px;
}

#intro{
    top: 40px;
    left: 100px;
    font-family: verdana;
    font-size: 40px;
    color: #142170;
    height: 75px;
    width: 550px;
}

#img2{
    top: 500px;
    left: 200px;
    height: 250px;
    width: 500px;
}