/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Νοε 2015, 8:12:23 μμ
    Author     : Nena
*/

.logo{
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.header{
    color: #000040;
    margin-left: 30px;
    font-size:140%;
    font-family: Impact, Charcoal, sans-serif;
}

.inform{
    font-size:130%;
}

.styled-select select {
   background: lightgray;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   cursor: pointer;
   }
   
   .styled-select {
   width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right white;
   border: 2px #000040;
   }