/* 
    Created on : Dec 2, 2015, 9:28:47 PM
    Author     : Nena
*/
body {
    background: linear-gradient(to bottom right, white, #bcbdc4);
    height: 750px;
}

.headerx{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: verdana;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}

.header1{
    left: 26%;
    top: 7%;
    font-size:140%;
    font-family: Impact, Charcoal, sans-serif;
    position: fixed;
    z-index: 7;
}

.header2{
    left: 33%;
    top: 7%;
    font-size:140%;
    font-family: Impact, Charcoal, sans-serif;
    position: fixed;
    z-index: 7;
}

.header{
    position: fixed;
    width: 100%;
    height: 100px;
    background: #000040;
    top: 0;
    left: 0;
    color: white;
    z-index: 7;
    font-family: verdana;
}

#img1{left:100px;
    height: 50px;
    width: 110px;
    top: 20px;
}

form{
    top: 40px;
    left: 350px;
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: white;
    margin:auto;
    position:relative;
    width:550px;
    height:600px;
    font-family: verdana;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #142170;
    text-decoration: none;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input{
    width:375px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.infoImg{
    width:35px;
    height:35px;
    border:1px solid #999;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:center;
    padding:5px;	 	 
}

#pointer{
    cursor: pointer;
}

.bodyx{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 700px;
}

#intro{
    top: 40px;
    left: 100px;
    font-family: verdana;
    font-size: 40px;
    color: #142170;
    height: 75px;
    width: 550px;
}

#register{
    background: -webkit-linear-gradient(#67ae55, #578843);
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    font-size: 19px ;
    color: white;
    cursor: pointer;
    font-weight: bold !important;
}

#imgs{
    top: 270px;
    left: 100px;
    height: 75px;
    width: 550px;
}

#intro2{
    top: 290px;
    left: 200px;
    font-family: verdana;
    font-size: 20px;
    color: black;
    height: 75px;
    width: 550px;
    font-weight: bold !important;
}
