/* 
    Created on : 8 Νοε 2015, 4:38:56 μμ
    Author     : Nena
*/
body{
    background-image: url("../images/palette.jpg");    
}

.input{
    margin-top: 5%;
}

.body {
    color: white;
    background-color: #00CC33;
}

.upload{
    font-family: Immortal;
    margin: 0.5em 0;
    padding: 0.3em;
}

.address{
    font-weight: bold;
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}